.board {
	max-width: 960px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
	cursor: pointer;
	content: '';
	justify-self: center;
	border: 1px solid white;
	max-width: calc(560px / 3);
	width: 20vw;
	font-size: calc(5vw + 1em);
	aspect-ratio: 1 / 1;
}

.cell:hover {
	background-color: #333333;
}
